{% extends "layout_two_column.html" %}

{% from "includes/organisations.html" import organisations as drawOrganisations %}

{% from "includes/ministers.html" import ministers as drawMinisters %}

{% from "includes/topic_subtopic.html" import topic_subtopic as drawTopicSubtopic %}

{% block head %}
  {% include "includes/head.html" %}
{% endblock %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block main_column %}

<h1>Create publication</h1>
<div class="format-advice">
  <p><strong>Use this format for:</strong> Guidance for professional or specialist users so that they can complete a defined task.</p>
</div>

<div class="tabbable">
  <div class="tab-content">
    <form class="edition-form js-edition-form" id="new_edition" enctype="multipart/form-data" action="/tagging" accept-charset="UTF-8">

      <fieldset>
        {% include "includes/publication_type.html" %}
        

        {% include "includes/title.html" %}

        {% include "includes/summary.html" %}

        {% include "includes/body.html" %}
      </fieldset>

      {% include "includes/first_published.html" %}

      {% include "includes/images.html" %}

      <fieldset>
        <legend>Associations</legend>

        <div class="notice bg-warning">
          <p>Document tagging has moved from the create and edit document pages. Click the "Tag Document" button at the end of the page to tag this document.</p>
        </div>

        {% include "includes/statistical_data_set.html" %}

        {% include "includes/topical_event.html" %}


      </fieldset>

      <fieldset id="edition_attachment_fields" class="attachments">
        <legend>Attachments</legend>
        <p>
          You can add an attachment once you've saved this document. An 'Attachments' tab will appear at the top of the page.
        </p>
      </fieldset>

      {% include "includes/excluded_nations.html" %}

      <fieldset>
        <legend>Specialist tagging</legend>
        
        <p>Specialist sectors are now called topics. You can add them once you've saved this document.</p>
        <p>Changes to topics do not go through the review process.</p>
      </fieldset>

      {% include "includes/access_limiting.html" %}

      {% include "includes/scheduled_publication.html" %}

      {{ drawOrganisations(organisations) }}

      {{ drawMinisters(ministers) }}

      {% include "includes/policies.html" %}

      <div class="publishing-controls well">
        <div class="form-actions">
          <a href="/publication-review" class="btn btn-primary btn-lg">Save</a>
          <a href="#" class="btn btn-primary btn-lg">Save and continue</a>

          <span class="or_cancel"> or <a href="#">cancel</a></span>
        </div>
      </div>

    </form>
  </div>
</div>


{% endblock %}

{% block side_bar %}

  {% include "includes/sidebar.html" %}

{% endblock %}

