{% extends "layout_two_column.html" %}

{% from "includes/organisations.html" import organisations as drawOrganisations %}

{% from "includes/ministers.html" import ministers as drawMinisters %}

{% from "includes/topic_subtopic.html" import topic_subtopic as drawTopicSubtopic %}

{% block head %}
  {% include "includes/head.html" %}
{% endblock %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block main_column %}

<h1>Early years census 2016: technical specification</h1>

<div class="tabbable">
  <div class="tab-content">
    <form class="edition-form js-edition-form" id="new_edition" enctype="multipart/form-data" action="/government/admin/detailed-guides" accept-charset="UTF-8" method="post">

      {{ drawTopicSubtopic(topics) }}

      <div class="publishing-controls well">
        <div class="form-actions">
          <a href="/publication-review" class="btn btn-primary btn-lg">Publish topic changes</a>

          <span class="or_cancel">&nbsp;&nbsp;<a href="#">Cancel</a></span>
        </div>
      </div>


    </form>
  </div>
</div>


{% endblock %}

{% block side_bar %}


{% endblock %}

