{% extends "layout_two_column.html" %}

{% from "includes/topic_subtopic.html" import topic_subtopic as drawTopicSubtopic %}

{% block head %}
  {% include "includes/head.html" %}
{% endblock %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block main_column %}

<h1>Early years census 2016: technical specification</h1>

<div class="tabbable">
  <div class="tab-content">


  <fieldset>
    <legend>
      <h2>Topics (new taxonomy)</h2>
    </legend>

    <p class="lead add-top-margin add-bottom-margin">
      Changes to topics are published when you save. They do not go through the review process.
    </p>

    <p class="lead">
      Adding a topic makes content appear on <a href="https://www.gov.uk/guidance/how-to-publish-on-gov-uk/creating-and-updating-pages#specialist-tagging-topics">topic pages</a>.
    </p>

    <div class="content content-bordered" >
      <p>No topics</p>
    </div>

    <div class="publishing-controls well">
      <div class="form-actions">
        <form action="/topics-2-add" method="get">
          <button class="btn btn-primary btn-lg" type="submit">Add a topic</button>
        </form>
      </div>
    </div>

  </div>
</div>


{% endblock %}

{% block side_bar %}

{% endblock %}
