{% extends "layout_two_column.html" %}

{% from "includes/topic_subtopic.html" import topic_subtopic as drawTopicSubtopic %}

{% block head %}
  {% include "includes/head.html" %}
{% endblock %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block main_column %}

<h1>Early years census 2016: technical specification</h1>

<div class="tabbable">
  <div class="tab-content">
    <form class="edition-form js-edition-form" id="new_edition" method="GET" action="/topics-2" accept-charset="UTF-8" method="post">


  <fieldset>
    <legend>
      <h2>Topics (new taxonomy)</h2>
    </legend>

    <p class="lead add-top-margin add-bottom-margin">
      Changes to topics are published when you save. They do not go through the review process.
    </p>

    <p class="lead">
      Adding a topic makes content appear on <a href="https://www.gov.uk/guidance/how-to-publish-on-gov-uk/creating-and-updating-pages#specialist-tagging-topics">topic pages</a>.
    </p>

    <!-- <div class="suggested-topics">
      <h4>Suggested</h4>


      <ul class="suggested-topics-list">
        <li>
          <label class="checkbox">
            <input type="checkbox" value="#_topic_schools-colleges-childrens-services_curriculum-qualifications-item" id="_topic_schools-colleges-childrens-services_curriculum-qualifications-suggested" name="suggested_topics"> Curriculum and qualifications
          </label>
        </li>
        <li>
          <label class="checkbox">
            <input type="checkbox" value="#_topic_schools-colleges-childrens-services_early-years-item" id="_topic_schools-colleges-childrens-services_early-years-suggested" name="suggested_topics"> Early years
          </label>
        </li>
        <li>
          <label class="checkbox">
            <input type="checkbox" value="#_topic_schools-colleges-childrens-services_school-college-funding-finance-item" id="_topic_schools-colleges-childrens-services_school-college-funding-finance-suggested" name="suggested_topics"> School and college funding and finance
          </label>
        </li>
      </ul>
    </div> -->

    <div class="content content-bordered" >
      {% for topic in displaySelected %}

        <p>{{topic|safe}}</p>

      {% endfor %}
    </div>

    <div class="publishing-controls well">
      <div class="form-actions">
        <button class="btn btn-primary btn-lg">Publish topic changes</button>

        <span class="or_cancel">&nbsp;&nbsp;<a href="#">Cancel</a></span>
      </div>
    </div>

    <div class="topic-columns" id="topic-columns">
      <div class="col col-a">
        <div class="inner">
          <header class="col-a-header">
            <a href="#" class="back" id="#topic-back">Back</a>
          </header>
          <div class="list-holder"></div>
        </div>
      </div>
      <div class="col col-b">
        <div class="inner">
          <header class="col-b-header">
            <p class="selected-topic" id="selected-topic"></p>
            <button class="btn btn-primary btn-g">Use this topic</button>
          </header>
          <div class="list-holder"></div>
        </div>
      </div>
    </div>

    <div class="topic-lists hidden" id="topic-lists">

      {% for name, topic in topics %}

        <div class="topic-list" id="{{toSlug(topic.name)}}" data-parent="{{topic.parent}}" data-parent-slug="{{toSlug(topic.parent)}}">

          {% for subTopic in topic.children %}

            <a href="#{{toSlug(subTopic)}}">{{subTopic}}</a>

          {% endfor %}

        </div>

      {% endfor %}

    </div>

  </fieldset>

  <script>

    $('#root').appendTo($('#topic-columns .col-a .list-holder'))

    $('#topic-columns').on('click', '.col-a .list-holder a', function(e){
      e.preventDefault()
      $('#topic-columns .col-b-header').show()
      //remove .selected from other and apply to this
      $(this).closest('.topic-list').find('.selected').removeClass('selected')
      $(this).addClass('selected')
      // put col b in topic-lists (hidden)
      $('#topic-lists').append($('#topic-columns .col-b .list-holder').contents())
      // get target and put in col b
      var target = $(this).attr('href')
      $(target).appendTo($('#topic-columns .col-b .list-holder'))
      $('#selected-topic').text($(this).text())
    })

    $('#topic-columns').on('click', '.back', function(e){
      e.preventDefault()
      var parentId = '#' + $(this).closest('.col').find('.topic-list').data('parent-slug')
      console.log(parentId)
      // put col b in topic-lists (hidden)
      $('#topic-lists').append($('#topic-columns .col-b .list-holder').contents())
      // put col a in col b
      $('#topic-columns .col-b .list-holder').append($('#topic-columns .col-a .list-holder').contents())
      // put parent in col a
      $(parentId).appendTo($('#topic-columns .col-a .list-holder'))
      // put selected in col a into selected topic
      $('#selected-topic').text($('#topic-columns .col-a .list-holder .selected').text())
      // remove selected from col b
      $('#topic-columns .col-b .list-holder .selected').removeClass('selected')
      // if this is root, hide back
      if (parentId == '#root'){
        $('#topic-columns .col-a-header').hide()
      }
    })

    $('#topic-columns').on('click', '.col-b .list-holder a', function(e){
      e.preventDefault()
      $('#topic-columns .col-a-header').show()
      //remove .selected from other and apply to this
      $(this).closest('.topic-list').find('.selected').removeClass('selected')
      $(this).addClass('selected')
      // put col a in topic-lists (hidden)
      $('#topic-lists').append($('#topic-columns .col-a .list-holder').contents())
      // put col b in col a
      $('#topic-columns .col-a .list-holder').append($('#topic-columns .col-b .list-holder').contents())
      // put target in col b
      var target = $(this).attr('href')
      $(target).appendTo($('#topic-columns .col-b .list-holder'))
      $('#selected-topic').text($(this).text())
    })

  </script>

      <div class="publishing-controls well">
        <div class="form-actions">
          <button class="btn btn-primary btn-lg">Publish topic changes</button>

          <span class="or_cancel">&nbsp;&nbsp;<a href="#">Cancel</a></span>
        </div>
      </div>


    </form>

    <div class="footer-spacer"></div>
  </div>
</div>


{% endblock %}

{% block side_bar %}


{% endblock %}
